-- CreateEnum
CREATE TYPE "QuestionType" AS ENUM ('SINGLE_CHOICE', 'MULTIPLE_CHOICE', 'TRUE_FALSE', 'FILL_BLANK', 'ESSAY');

-- CreateEnum
CREATE TYPE "QuestionDifficulty" AS ENUM ('EASY', 'MEDIUM', 'HARD');

-- CreateEnum
CREATE TYPE "BloomLevel" AS ENUM ('REMEMBER', 'UNDERSTAND', 'APPLY', 'ANALYZE');

-- CreateEnum
CREATE TYPE "QuestionStatus" AS ENUM ('DRAFT', 'PENDING', 'APPROVED', 'REJECTED', 'ARCHIVED');

-- CreateEnum
CREATE TYPE "QuestionHistoryAction" AS ENUM ('CREATE', 'UPDATE', 'SUBMIT', 'APPROVE', 'REJECT', 'ARCHIVE', 'DUPLICATE', 'RESTORE', 'DELETE', 'BULK_UPDATE');

-- CreateEnum
CREATE TYPE "ExamPaperStatus" AS ENUM ('DRAFT', 'PUBLISHED', 'ARCHIVED');

-- CreateEnum
CREATE TYPE "ExamMode" AS ENUM ('MOCK', 'OFFICIAL');

-- CreateEnum
CREATE TYPE "SubjectRequirementType" AS ENUM ('MANDATORY', 'ELECTIVE');

-- CreateEnum
CREATE TYPE "AttemptStatus" AS ENUM ('NOT_STARTED', 'DEVICE_CHECK', 'READY', 'IN_PROGRESS', 'DISCONNECTED', 'SUBMITTED', 'AUTO_SUBMITTED', 'TERMINATED', 'UNDER_REVIEW', 'GRADED', 'INVALIDATED');

-- CreateEnum
CREATE TYPE "EssayAnswerGradingStatus" AS ENUM ('NOT_GRADED', 'IN_PROGRESS', 'GRADED');

-- CreateEnum
CREATE TYPE "EssayAttemptGradingStatus" AS ENUM ('NOT_SUBMITTED', 'SUBMITTED', 'UNDER_GRADING', 'WAITING_APPROVAL', 'PUBLISHED');

-- CreateEnum
CREATE TYPE "EventSeverity" AS ENUM ('LOW', 'MEDIUM', 'HIGH', 'CRITICAL');

-- CreateEnum
CREATE TYPE "ProctoringEventType" AS ENUM ('TAB_HIDDEN', 'WINDOW_BLUR', 'FULLSCREEN_EXIT', 'COPY_ATTEMPT', 'PASTE_ATTEMPT', 'CONTEXT_MENU_ATTEMPT', 'NETWORK_DISCONNECTED', 'NETWORK_RECONNECTED', 'PAGE_RELOAD', 'MULTIPLE_SESSION', 'CAMERA_DISABLED', 'FACE_NOT_FOUND', 'MULTIPLE_FACES', 'SUSPICIOUS_DEVICE_CHANGE');

-- CreateTable
CREATE TABLE "users" (
    "id" SERIAL NOT NULL,
    "username" TEXT NOT NULL,
    "password" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "role" TEXT NOT NULL DEFAULT 'STUDENT',
    "status" TEXT NOT NULL DEFAULT 'ACTIVE',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "users_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "departments" (
    "id" SERIAL NOT NULL,
    "code" TEXT NOT NULL,
    "name" TEXT NOT NULL,

    CONSTRAINT "departments_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "classes" (
    "id" SERIAL NOT NULL,
    "code" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "departmentId" INTEGER NOT NULL,

    CONSTRAINT "classes_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "students" (
    "id" SERIAL NOT NULL,
    "studentCode" TEXT NOT NULL,
    "fullName" TEXT NOT NULL,
    "gender" TEXT NOT NULL,
    "dateOfBirth" TIMESTAMP(3) NOT NULL,
    "email" TEXT NOT NULL,
    "phone" TEXT,
    "classId" INTEGER NOT NULL,
    "userId" INTEGER NOT NULL,

    CONSTRAINT "students_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "teachers" (
    "id" SERIAL NOT NULL,
    "teacherCode" TEXT NOT NULL,
    "fullName" TEXT NOT NULL,
    "degree" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "phone" TEXT,
    "departmentId" INTEGER NOT NULL,
    "userId" INTEGER NOT NULL,

    CONSTRAINT "teachers_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "subjects" (
    "id" SERIAL NOT NULL,
    "subjectCode" TEXT NOT NULL,
    "subjectName" TEXT NOT NULL,
    "credits" INTEGER NOT NULL,
    "departmentId" INTEGER NOT NULL,

    CONSTRAINT "subjects_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "major_subjects" (
    "id" SERIAL NOT NULL,
    "departmentId" INTEGER NOT NULL,
    "subjectId" INTEGER NOT NULL,
    "type" "SubjectRequirementType" NOT NULL DEFAULT 'MANDATORY',
    "recommendedSemester" INTEGER NOT NULL DEFAULT 1,
    "note" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "major_subjects_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "chapters" (
    "id" TEXT NOT NULL,
    "subjectId" INTEGER NOT NULL,
    "code" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "order" INTEGER NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "chapters_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "student_subjects" (
    "id" SERIAL NOT NULL,
    "studentId" INTEGER NOT NULL,
    "subjectId" INTEGER NOT NULL,
    "semester" TEXT NOT NULL,
    "schoolYear" TEXT NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'ELIGIBLE',

    CONSTRAINT "student_subjects_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "exam_periods" (
    "id" SERIAL NOT NULL,
    "name" TEXT NOT NULL,
    "semester" TEXT NOT NULL,
    "schoolYear" TEXT NOT NULL,
    "startDate" TIMESTAMP(3) NOT NULL,
    "endDate" TIMESTAMP(3) NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'UPCOMING',

    CONSTRAINT "exam_periods_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "exam_schedules" (
    "id" SERIAL NOT NULL,
    "examPeriodId" INTEGER NOT NULL,
    "subjectId" INTEGER NOT NULL,
    "examDate" TIMESTAMP(3) NOT NULL,
    "startTime" TEXT NOT NULL,
    "endTime" TEXT NOT NULL,
    "examType" TEXT NOT NULL DEFAULT 'TRAC_NGHIEM',
    "mode" "ExamMode" NOT NULL DEFAULT 'OFFICIAL',
    "status" TEXT NOT NULL DEFAULT 'SCHEDULED',
    "note" TEXT,
    "deletedAt" TIMESTAMP(3),
    "deletedById" INTEGER,

    CONSTRAINT "exam_schedules_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "exam_rooms" (
    "id" SERIAL NOT NULL,
    "roomCode" TEXT NOT NULL,
    "roomName" TEXT NOT NULL,
    "building" TEXT NOT NULL,
    "capacity" INTEGER NOT NULL,
    "roomType" TEXT NOT NULL DEFAULT 'THI_LY_THUYET',
    "status" TEXT NOT NULL DEFAULT 'AVAILABLE',

    CONSTRAINT "exam_rooms_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "exam_schedule_rooms" (
    "id" SERIAL NOT NULL,
    "examScheduleId" INTEGER NOT NULL,
    "roomId" INTEGER NOT NULL,

    CONSTRAINT "exam_schedule_rooms_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "exam_room_students" (
    "id" SERIAL NOT NULL,
    "examScheduleRoomId" INTEGER NOT NULL,
    "studentId" INTEGER NOT NULL,
    "examNumber" TEXT NOT NULL,
    "seatNumber" INTEGER NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'ASSIGNED',

    CONSTRAINT "exam_room_students_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "exam_supervisors" (
    "id" SERIAL NOT NULL,
    "examScheduleRoomId" INTEGER NOT NULL,
    "teacherId" INTEGER NOT NULL,
    "role" TEXT NOT NULL DEFAULT 'SUPERVISOR_1',
    "status" TEXT NOT NULL DEFAULT 'PENDING',
    "note" TEXT,

    CONSTRAINT "exam_supervisors_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "questions" (
    "id" TEXT NOT NULL,
    "code" TEXT NOT NULL,
    "subjectId" INTEGER NOT NULL,
    "chapterId" TEXT,
    "content" TEXT NOT NULL,
    "contentRich" JSONB,
    "normalizedContent" TEXT NOT NULL,
    "type" "QuestionType" NOT NULL,
    "difficulty" "QuestionDifficulty" NOT NULL DEFAULT 'MEDIUM',
    "bloomLevel" "BloomLevel" NOT NULL DEFAULT 'UNDERSTAND',
    "score" DOUBLE PRECISION NOT NULL DEFAULT 0.25,
    "explanation" TEXT,
    "keywords" TEXT,
    "status" "QuestionStatus" NOT NULL DEFAULT 'DRAFT',
    "rejectionReason" TEXT,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "deletedAt" TIMESTAMP(3),
    "approvedAt" TIMESTAMP(3),
    "archivedAt" TIMESTAMP(3),
    "createdById" INTEGER NOT NULL,
    "approvedById" INTEGER,

    CONSTRAINT "questions_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "question_histories" (
    "id" TEXT NOT NULL,
    "questionId" TEXT NOT NULL,
    "action" "QuestionHistoryAction" NOT NULL,
    "oldData" JSONB,
    "newData" JSONB,
    "note" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "changedById" INTEGER NOT NULL,

    CONSTRAINT "question_histories_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "question_options" (
    "id" TEXT NOT NULL,
    "questionId" TEXT NOT NULL,
    "label" TEXT NOT NULL,
    "content" TEXT NOT NULL,
    "contentRich" JSONB,
    "isCorrect" BOOLEAN NOT NULL DEFAULT false,
    "order" INTEGER NOT NULL,

    CONSTRAINT "question_options_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "question_media" (
    "id" TEXT NOT NULL,
    "questionId" TEXT NOT NULL,
    "optionId" TEXT,
    "url" TEXT NOT NULL,
    "mimeType" TEXT NOT NULL,
    "fileName" TEXT NOT NULL,
    "width" INTEGER,
    "height" INTEGER,
    "sortOrder" INTEGER NOT NULL DEFAULT 0,
    "altText" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "question_media_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "question_statistics" (
    "id" TEXT NOT NULL,
    "questionId" TEXT NOT NULL,
    "usedCount" INTEGER NOT NULL DEFAULT 0,
    "totalAnswers" INTEGER NOT NULL DEFAULT 0,
    "correctAnswers" INTEGER NOT NULL DEFAULT 0,
    "lastUsedAt" TIMESTAMP(3),
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "question_statistics_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "exam_papers" (
    "id" SERIAL NOT NULL,
    "examScheduleId" INTEGER NOT NULL,
    "paperCode" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "durationMinutes" INTEGER NOT NULL,
    "totalScore" DOUBLE PRECISION NOT NULL,
    "status" "ExamPaperStatus" NOT NULL DEFAULT 'DRAFT',
    "publishedAt" TIMESTAMP(3),
    "archivedAt" TIMESTAMP(3),
    "deletedAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "createdById" INTEGER NOT NULL,

    CONSTRAINT "exam_papers_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "exam_paper_questions" (
    "id" SERIAL NOT NULL,
    "examPaperId" INTEGER NOT NULL,
    "questionId" TEXT NOT NULL,
    "questionOrder" INTEGER NOT NULL,
    "score" DOUBLE PRECISION NOT NULL,
    "usedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "exam_paper_questions_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "audit_logs" (
    "id" TEXT NOT NULL,
    "actorId" INTEGER,
    "action" TEXT NOT NULL,
    "entityType" TEXT NOT NULL,
    "entityId" TEXT,
    "description" TEXT NOT NULL,
    "metadata" JSONB,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "audit_logs_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "online_exam_configs" (
    "id" SERIAL NOT NULL,
    "examScheduleId" INTEGER NOT NULL,
    "examPaperId" INTEGER NOT NULL,
    "mode" "ExamMode" NOT NULL DEFAULT 'OFFICIAL',
    "requireWebcam" BOOLEAN NOT NULL DEFAULT false,
    "requireMic" BOOLEAN NOT NULL DEFAULT false,
    "requireFullscreen" BOOLEAN NOT NULL DEFAULT true,
    "preventTabSwitch" BOOLEAN NOT NULL DEFAULT true,
    "preventCopyPaste" BOOLEAN NOT NULL DEFAULT true,
    "shuffleQuestions" BOOLEAN NOT NULL DEFAULT true,
    "shuffleOptions" BOOLEAN NOT NULL DEFAULT true,
    "maxAllowedViolations" INTEGER NOT NULL DEFAULT 5,
    "showResultImmediately" BOOLEAN NOT NULL DEFAULT false,
    "allowReview" BOOLEAN NOT NULL DEFAULT true,
    "essayEnabled" BOOLEAN NOT NULL DEFAULT false,
    "allowEssayFileUpload" BOOLEAN NOT NULL DEFAULT true,
    "maxEssayFileSizeMb" INTEGER NOT NULL DEFAULT 20,
    "showEssayResultAfterApproval" BOOLEAN NOT NULL DEFAULT true,
    "ipWhitelist" JSONB DEFAULT '[]',
    "requireDeviceBinding" BOOLEAN NOT NULL DEFAULT false,
    "accessCode" TEXT,
    "examPasswordHash" TEXT,
    "lateEntryWindowMinutes" INTEGER NOT NULL DEFAULT 15,
    "requireRulesAcceptance" BOOLEAN NOT NULL DEFAULT true,
    "maxAttempts" INTEGER NOT NULL DEFAULT 1,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "online_exam_configs_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "exam_security_policies" (
    "id" SERIAL NOT NULL,
    "onlineExamConfigId" INTEGER NOT NULL,
    "weightTabHidden" INTEGER NOT NULL DEFAULT 10,
    "weightWindowBlur" INTEGER NOT NULL DEFAULT 5,
    "weightExitFull" INTEGER NOT NULL DEFAULT 15,
    "weightCopyPaste" INTEGER NOT NULL DEFAULT 20,
    "weightMultiSession" INTEGER NOT NULL DEFAULT 50,
    "weightFaceMissing" INTEGER NOT NULL DEFAULT 15,
    "weightMultiFace" INTEGER NOT NULL DEFAULT 30,
    "reviewThreshold" INTEGER NOT NULL DEFAULT 40,

    CONSTRAINT "exam_security_policies_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "exam_attempts" (
    "id" TEXT NOT NULL,
    "onlineExamConfigId" INTEGER NOT NULL,
    "studentId" INTEGER NOT NULL,
    "mode" "ExamMode" NOT NULL DEFAULT 'OFFICIAL',
    "attemptNumber" INTEGER NOT NULL DEFAULT 1,
    "attemptToken" TEXT NOT NULL,
    "status" "AttemptStatus" NOT NULL DEFAULT 'NOT_STARTED',
    "startTime" TIMESTAMP(3),
    "endTime" TIMESTAMP(3),
    "expectedEndTime" TIMESTAMP(3),
    "submittedAt" TIMESTAMP(3),
    "extraMinutes" INTEGER NOT NULL DEFAULT 0,
    "extraTimeReason" TEXT,
    "clientIp" TEXT,
    "userAgent" TEXT,
    "deviceFingerprint" TEXT,
    "totalScore" DOUBLE PRECISION,
    "maxScore" DOUBLE PRECISION,
    "penaltyPoints" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "riskScore" INTEGER NOT NULL DEFAULT 0,
    "isFlagged" BOOLEAN NOT NULL DEFAULT false,
    "gradingStatus" "EssayAttemptGradingStatus" NOT NULL DEFAULT 'NOT_SUBMITTED',
    "gradedById" INTEGER,
    "gradedAt" TIMESTAMP(3),
    "approvedById" INTEGER,
    "approvedAt" TIMESTAMP(3),
    "publishedAt" TIMESTAMP(3),
    "rulesAcceptedAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "exam_attempts_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "exam_snapshots" (
    "id" TEXT NOT NULL,
    "attemptId" TEXT NOT NULL,
    "paperTitle" TEXT NOT NULL,
    "duration" INTEGER NOT NULL,
    "questionCount" INTEGER NOT NULL,
    "snapshotData" JSONB NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "exam_snapshots_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "attempt_answers" (
    "id" TEXT NOT NULL,
    "attemptId" TEXT NOT NULL,
    "questionId" TEXT NOT NULL,
    "selectedOptionIds" JSONB,
    "textAnswer" TEXT,
    "textAnswerRich" JSONB,
    "isFlaggedForReview" BOOLEAN NOT NULL DEFAULT false,
    "lastSavedAt" TIMESTAMP(3),
    "submittedAt" TIMESTAMP(3),
    "gradingStatus" "EssayAnswerGradingStatus" NOT NULL DEFAULT 'NOT_GRADED',
    "teacherComment" TEXT,
    "finalScore" DOUBLE PRECISION,
    "version" INTEGER NOT NULL DEFAULT 1,
    "clientTimestamp" TIMESTAMP(3) NOT NULL,
    "serverTimestamp" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "attempt_answers_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "essay_rubric_criteria" (
    "id" TEXT NOT NULL,
    "questionId" TEXT NOT NULL,
    "label" TEXT NOT NULL,
    "description" TEXT,
    "maxScore" DOUBLE PRECISION NOT NULL,
    "sortOrder" INTEGER NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "essay_rubric_criteria_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "essay_grades" (
    "id" TEXT NOT NULL,
    "attemptAnswerId" TEXT NOT NULL,
    "criterionId" TEXT NOT NULL,
    "score" DOUBLE PRECISION NOT NULL,
    "comment" TEXT,
    "gradedById" INTEGER NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "essay_grades_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "essay_submission_files" (
    "id" TEXT NOT NULL,
    "attemptId" TEXT NOT NULL,
    "answerId" TEXT,
    "url" TEXT NOT NULL,
    "fileName" TEXT NOT NULL,
    "mimeType" TEXT NOT NULL,
    "size" INTEGER NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "essay_submission_files_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "proctoring_events" (
    "id" TEXT NOT NULL,
    "attemptId" TEXT NOT NULL,
    "eventType" "ProctoringEventType" NOT NULL,
    "severity" "EventSeverity" NOT NULL DEFAULT 'LOW',
    "occurredAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "duration" INTEGER,
    "metadata" JSONB,
    "evidenceUrl" TEXT,
    "reviewStatus" TEXT NOT NULL DEFAULT 'PENDING',
    "reviewerNote" TEXT,

    CONSTRAINT "proctoring_events_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "device_sessions" (
    "id" TEXT NOT NULL,
    "attemptId" TEXT NOT NULL,
    "sessionToken" TEXT NOT NULL,
    "deviceInfo" TEXT NOT NULL,
    "ipAddress" TEXT NOT NULL,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "lastSeenAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "device_sessions_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "exam_incidents" (
    "id" TEXT NOT NULL,
    "attemptId" TEXT NOT NULL,
    "reportedById" INTEGER NOT NULL,
    "reason" TEXT NOT NULL,
    "decision" TEXT NOT NULL DEFAULT 'PENDING',
    "studentAppeal" TEXT,
    "reviewerNote" TEXT,
    "resolvedAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "exam_incidents_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "users_username_key" ON "users"("username");

-- CreateIndex
CREATE UNIQUE INDEX "users_email_key" ON "users"("email");

-- CreateIndex
CREATE UNIQUE INDEX "departments_code_key" ON "departments"("code");

-- CreateIndex
CREATE UNIQUE INDEX "classes_code_key" ON "classes"("code");

-- CreateIndex
CREATE UNIQUE INDEX "students_studentCode_key" ON "students"("studentCode");

-- CreateIndex
CREATE UNIQUE INDEX "students_userId_key" ON "students"("userId");

-- CreateIndex
CREATE UNIQUE INDEX "teachers_teacherCode_key" ON "teachers"("teacherCode");

-- CreateIndex
CREATE UNIQUE INDEX "teachers_userId_key" ON "teachers"("userId");

-- CreateIndex
CREATE UNIQUE INDEX "subjects_subjectCode_key" ON "subjects"("subjectCode");

-- CreateIndex
CREATE UNIQUE INDEX "major_subjects_departmentId_subjectId_key" ON "major_subjects"("departmentId", "subjectId");

-- CreateIndex
CREATE UNIQUE INDEX "chapters_subjectId_code_key" ON "chapters"("subjectId", "code");

-- CreateIndex
CREATE UNIQUE INDEX "chapters_subjectId_order_key" ON "chapters"("subjectId", "order");

-- CreateIndex
CREATE UNIQUE INDEX "student_subjects_studentId_subjectId_semester_schoolYear_key" ON "student_subjects"("studentId", "subjectId", "semester", "schoolYear");

-- CreateIndex
CREATE INDEX "exam_schedules_deletedAt_idx" ON "exam_schedules"("deletedAt");

-- CreateIndex
CREATE UNIQUE INDEX "exam_rooms_roomCode_key" ON "exam_rooms"("roomCode");

-- CreateIndex
CREATE UNIQUE INDEX "exam_schedule_rooms_examScheduleId_roomId_key" ON "exam_schedule_rooms"("examScheduleId", "roomId");

-- CreateIndex
CREATE UNIQUE INDEX "exam_room_students_examScheduleRoomId_studentId_key" ON "exam_room_students"("examScheduleRoomId", "studentId");

-- CreateIndex
CREATE UNIQUE INDEX "exam_room_students_examScheduleRoomId_seatNumber_key" ON "exam_room_students"("examScheduleRoomId", "seatNumber");

-- CreateIndex
CREATE UNIQUE INDEX "exam_supervisors_examScheduleRoomId_teacherId_key" ON "exam_supervisors"("examScheduleRoomId", "teacherId");

-- CreateIndex
CREATE UNIQUE INDEX "exam_supervisors_examScheduleRoomId_role_key" ON "exam_supervisors"("examScheduleRoomId", "role");

-- CreateIndex
CREATE UNIQUE INDEX "questions_code_key" ON "questions"("code");

-- CreateIndex
CREATE INDEX "questions_subjectId_chapterId_status_idx" ON "questions"("subjectId", "chapterId", "status");

-- CreateIndex
CREATE INDEX "questions_createdById_createdAt_idx" ON "questions"("createdById", "createdAt");

-- CreateIndex
CREATE INDEX "question_histories_questionId_createdAt_idx" ON "question_histories"("questionId", "createdAt");

-- CreateIndex
CREATE UNIQUE INDEX "question_options_questionId_order_key" ON "question_options"("questionId", "order");

-- CreateIndex
CREATE INDEX "question_media_questionId_sortOrder_idx" ON "question_media"("questionId", "sortOrder");

-- CreateIndex
CREATE INDEX "question_media_optionId_idx" ON "question_media"("optionId");

-- CreateIndex
CREATE UNIQUE INDEX "question_statistics_questionId_key" ON "question_statistics"("questionId");

-- CreateIndex
CREATE INDEX "exam_papers_status_deletedAt_idx" ON "exam_papers"("status", "deletedAt");

-- CreateIndex
CREATE UNIQUE INDEX "exam_papers_examScheduleId_paperCode_key" ON "exam_papers"("examScheduleId", "paperCode");

-- CreateIndex
CREATE UNIQUE INDEX "exam_paper_questions_examPaperId_questionId_key" ON "exam_paper_questions"("examPaperId", "questionId");

-- CreateIndex
CREATE UNIQUE INDEX "exam_paper_questions_examPaperId_questionOrder_key" ON "exam_paper_questions"("examPaperId", "questionOrder");

-- CreateIndex
CREATE INDEX "audit_logs_createdAt_idx" ON "audit_logs"("createdAt");

-- CreateIndex
CREATE INDEX "audit_logs_entityType_entityId_idx" ON "audit_logs"("entityType", "entityId");

-- CreateIndex
CREATE UNIQUE INDEX "online_exam_configs_examScheduleId_key" ON "online_exam_configs"("examScheduleId");

-- CreateIndex
CREATE UNIQUE INDEX "exam_security_policies_onlineExamConfigId_key" ON "exam_security_policies"("onlineExamConfigId");

-- CreateIndex
CREATE UNIQUE INDEX "exam_attempts_attemptToken_key" ON "exam_attempts"("attemptToken");

-- CreateIndex
CREATE INDEX "exam_attempts_studentId_status_idx" ON "exam_attempts"("studentId", "status");

-- CreateIndex
CREATE UNIQUE INDEX "exam_attempts_onlineExamConfigId_studentId_attemptNumber_key" ON "exam_attempts"("onlineExamConfigId", "studentId", "attemptNumber");

-- CreateIndex
CREATE UNIQUE INDEX "exam_snapshots_attemptId_key" ON "exam_snapshots"("attemptId");

-- CreateIndex
CREATE INDEX "attempt_answers_attemptId_idx" ON "attempt_answers"("attemptId");

-- CreateIndex
CREATE UNIQUE INDEX "attempt_answers_attemptId_questionId_key" ON "attempt_answers"("attemptId", "questionId");

-- CreateIndex
CREATE INDEX "essay_rubric_criteria_questionId_idx" ON "essay_rubric_criteria"("questionId");

-- CreateIndex
CREATE UNIQUE INDEX "essay_rubric_criteria_questionId_sortOrder_key" ON "essay_rubric_criteria"("questionId", "sortOrder");

-- CreateIndex
CREATE INDEX "essay_grades_gradedById_idx" ON "essay_grades"("gradedById");

-- CreateIndex
CREATE UNIQUE INDEX "essay_grades_attemptAnswerId_criterionId_key" ON "essay_grades"("attemptAnswerId", "criterionId");

-- CreateIndex
CREATE INDEX "essay_submission_files_attemptId_idx" ON "essay_submission_files"("attemptId");

-- CreateIndex
CREATE INDEX "essay_submission_files_answerId_idx" ON "essay_submission_files"("answerId");

-- CreateIndex
CREATE INDEX "proctoring_events_attemptId_occurredAt_idx" ON "proctoring_events"("attemptId", "occurredAt");

-- CreateIndex
CREATE UNIQUE INDEX "device_sessions_sessionToken_key" ON "device_sessions"("sessionToken");

-- AddForeignKey
ALTER TABLE "classes" ADD CONSTRAINT "classes_departmentId_fkey" FOREIGN KEY ("departmentId") REFERENCES "departments"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "students" ADD CONSTRAINT "students_classId_fkey" FOREIGN KEY ("classId") REFERENCES "classes"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "students" ADD CONSTRAINT "students_userId_fkey" FOREIGN KEY ("userId") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "teachers" ADD CONSTRAINT "teachers_departmentId_fkey" FOREIGN KEY ("departmentId") REFERENCES "departments"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "teachers" ADD CONSTRAINT "teachers_userId_fkey" FOREIGN KEY ("userId") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "subjects" ADD CONSTRAINT "subjects_departmentId_fkey" FOREIGN KEY ("departmentId") REFERENCES "departments"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "major_subjects" ADD CONSTRAINT "major_subjects_departmentId_fkey" FOREIGN KEY ("departmentId") REFERENCES "departments"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "major_subjects" ADD CONSTRAINT "major_subjects_subjectId_fkey" FOREIGN KEY ("subjectId") REFERENCES "subjects"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "chapters" ADD CONSTRAINT "chapters_subjectId_fkey" FOREIGN KEY ("subjectId") REFERENCES "subjects"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "student_subjects" ADD CONSTRAINT "student_subjects_studentId_fkey" FOREIGN KEY ("studentId") REFERENCES "students"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "student_subjects" ADD CONSTRAINT "student_subjects_subjectId_fkey" FOREIGN KEY ("subjectId") REFERENCES "subjects"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "exam_schedules" ADD CONSTRAINT "exam_schedules_examPeriodId_fkey" FOREIGN KEY ("examPeriodId") REFERENCES "exam_periods"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "exam_schedules" ADD CONSTRAINT "exam_schedules_subjectId_fkey" FOREIGN KEY ("subjectId") REFERENCES "subjects"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "exam_schedules" ADD CONSTRAINT "exam_schedules_deletedById_fkey" FOREIGN KEY ("deletedById") REFERENCES "users"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "exam_schedule_rooms" ADD CONSTRAINT "exam_schedule_rooms_examScheduleId_fkey" FOREIGN KEY ("examScheduleId") REFERENCES "exam_schedules"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "exam_schedule_rooms" ADD CONSTRAINT "exam_schedule_rooms_roomId_fkey" FOREIGN KEY ("roomId") REFERENCES "exam_rooms"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "exam_room_students" ADD CONSTRAINT "exam_room_students_examScheduleRoomId_fkey" FOREIGN KEY ("examScheduleRoomId") REFERENCES "exam_schedule_rooms"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "exam_room_students" ADD CONSTRAINT "exam_room_students_studentId_fkey" FOREIGN KEY ("studentId") REFERENCES "students"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "exam_supervisors" ADD CONSTRAINT "exam_supervisors_examScheduleRoomId_fkey" FOREIGN KEY ("examScheduleRoomId") REFERENCES "exam_schedule_rooms"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "exam_supervisors" ADD CONSTRAINT "exam_supervisors_teacherId_fkey" FOREIGN KEY ("teacherId") REFERENCES "teachers"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "questions" ADD CONSTRAINT "questions_subjectId_fkey" FOREIGN KEY ("subjectId") REFERENCES "subjects"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "questions" ADD CONSTRAINT "questions_chapterId_fkey" FOREIGN KEY ("chapterId") REFERENCES "chapters"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "questions" ADD CONSTRAINT "questions_createdById_fkey" FOREIGN KEY ("createdById") REFERENCES "users"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "questions" ADD CONSTRAINT "questions_approvedById_fkey" FOREIGN KEY ("approvedById") REFERENCES "users"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "question_histories" ADD CONSTRAINT "question_histories_questionId_fkey" FOREIGN KEY ("questionId") REFERENCES "questions"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "question_histories" ADD CONSTRAINT "question_histories_changedById_fkey" FOREIGN KEY ("changedById") REFERENCES "users"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "question_options" ADD CONSTRAINT "question_options_questionId_fkey" FOREIGN KEY ("questionId") REFERENCES "questions"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "question_media" ADD CONSTRAINT "question_media_questionId_fkey" FOREIGN KEY ("questionId") REFERENCES "questions"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "question_media" ADD CONSTRAINT "question_media_optionId_fkey" FOREIGN KEY ("optionId") REFERENCES "question_options"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "question_statistics" ADD CONSTRAINT "question_statistics_questionId_fkey" FOREIGN KEY ("questionId") REFERENCES "questions"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "exam_papers" ADD CONSTRAINT "exam_papers_examScheduleId_fkey" FOREIGN KEY ("examScheduleId") REFERENCES "exam_schedules"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "exam_papers" ADD CONSTRAINT "exam_papers_createdById_fkey" FOREIGN KEY ("createdById") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "exam_paper_questions" ADD CONSTRAINT "exam_paper_questions_examPaperId_fkey" FOREIGN KEY ("examPaperId") REFERENCES "exam_papers"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "exam_paper_questions" ADD CONSTRAINT "exam_paper_questions_questionId_fkey" FOREIGN KEY ("questionId") REFERENCES "questions"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "audit_logs" ADD CONSTRAINT "audit_logs_actorId_fkey" FOREIGN KEY ("actorId") REFERENCES "users"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "online_exam_configs" ADD CONSTRAINT "online_exam_configs_examScheduleId_fkey" FOREIGN KEY ("examScheduleId") REFERENCES "exam_schedules"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "online_exam_configs" ADD CONSTRAINT "online_exam_configs_examPaperId_fkey" FOREIGN KEY ("examPaperId") REFERENCES "exam_papers"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "exam_security_policies" ADD CONSTRAINT "exam_security_policies_onlineExamConfigId_fkey" FOREIGN KEY ("onlineExamConfigId") REFERENCES "online_exam_configs"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "exam_attempts" ADD CONSTRAINT "exam_attempts_onlineExamConfigId_fkey" FOREIGN KEY ("onlineExamConfigId") REFERENCES "online_exam_configs"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "exam_attempts" ADD CONSTRAINT "exam_attempts_studentId_fkey" FOREIGN KEY ("studentId") REFERENCES "students"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "exam_attempts" ADD CONSTRAINT "exam_attempts_gradedById_fkey" FOREIGN KEY ("gradedById") REFERENCES "users"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "exam_attempts" ADD CONSTRAINT "exam_attempts_approvedById_fkey" FOREIGN KEY ("approvedById") REFERENCES "users"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "exam_snapshots" ADD CONSTRAINT "exam_snapshots_attemptId_fkey" FOREIGN KEY ("attemptId") REFERENCES "exam_attempts"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "attempt_answers" ADD CONSTRAINT "attempt_answers_attemptId_fkey" FOREIGN KEY ("attemptId") REFERENCES "exam_attempts"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "essay_rubric_criteria" ADD CONSTRAINT "essay_rubric_criteria_questionId_fkey" FOREIGN KEY ("questionId") REFERENCES "questions"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "essay_grades" ADD CONSTRAINT "essay_grades_attemptAnswerId_fkey" FOREIGN KEY ("attemptAnswerId") REFERENCES "attempt_answers"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "essay_grades" ADD CONSTRAINT "essay_grades_criterionId_fkey" FOREIGN KEY ("criterionId") REFERENCES "essay_rubric_criteria"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "essay_grades" ADD CONSTRAINT "essay_grades_gradedById_fkey" FOREIGN KEY ("gradedById") REFERENCES "users"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "essay_submission_files" ADD CONSTRAINT "essay_submission_files_attemptId_fkey" FOREIGN KEY ("attemptId") REFERENCES "exam_attempts"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "essay_submission_files" ADD CONSTRAINT "essay_submission_files_answerId_fkey" FOREIGN KEY ("answerId") REFERENCES "attempt_answers"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "proctoring_events" ADD CONSTRAINT "proctoring_events_attemptId_fkey" FOREIGN KEY ("attemptId") REFERENCES "exam_attempts"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "device_sessions" ADD CONSTRAINT "device_sessions_attemptId_fkey" FOREIGN KEY ("attemptId") REFERENCES "exam_attempts"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "exam_incidents" ADD CONSTRAINT "exam_incidents_attemptId_fkey" FOREIGN KEY ("attemptId") REFERENCES "exam_attempts"("id") ON DELETE CASCADE ON UPDATE CASCADE;

